{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1>{% trans "Sign Up" %}</h1>

<p><i>{% blocktrans %}이미 계정이ddddd 있으신가요?</i> 그럼 <b><a href="{{ login_url }}">로그인</a></b> 해주세요.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}

  <input name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />

  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock %}
